/* ===================    HEADER  CSS     ================================*/


header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: var(--bgNavFoot);
    padding: 0 20px;
}

/* ===== LOGO ===== */
#imgLogo {
    display: none;
    height: 40px;
    width: 40px;
}

/* ===== BURGER ===== */
#burger {
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

/* ===== NAV ===== */

nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 25%;
    background-color: var(--bgNavFoot);
    padding: 20px;
    z-index: 1;
    border-radius: 0 0 5px 0;
    border-top: 1px dotted #C26E4F;
    border-bottom: 2px solid #C26E4F;
    border-right: 2px solid #C26E4F;
}



nav.open {
    display: flex;
}

/* ===== UL ===== */
ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    list-style-type: none;
}

ul li a {
    color: black;
    text-decoration: none;
    font-size: 0.9rem;
}

ul li a:hover {
    color: #C26E4F;
}

/* ===== HIDDEN ===== */
#hidden {
    display: none;
}

/* ===== SEARCH ===== */
#search {
    display: none;
    align-items: center;
    gap: 20px;
}

#loupe {
    height: 20px;
    width: 20px;
}

#rechercher {
    padding-left: 10px;
    background-color: #3c94f2b0;
    border: none;
    border-radius: 5px;
    height: 20px;
    width: 150px;
}

/* ===== ICON LOGIN ===== */
#iconLogIn {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

/* ===== PANEL LOGIN ===== */
.userLogIn {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--bgNavFoot);
    border-radius: 0 0 0 5px;
    border-top: 1px dotted #C26E4F;
    border-bottom: 2px solid #C26E4F;
    border-left: 2px solid #C26E4F;
    right: 0;
    top: 80px;
    gap: 10px;
    padding: 20px 10px;
    z-index: 10;
    width: 200px;
}

.userLogIn.open {
    display: flex;
}

#userID,
#userPassword {
    background-color: #3c94f2b0;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 90%;
    padding-left: 10px;
}

#userConnexionBtn {
    background-color: #C26E4F;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 50%;
    cursor: pointer;
    color: white;
}

#userConnexionBtn:hover {
    background-color: #ca5a31;
}

/* =====================   Tablette  - min-width: 768px     ==============================*/


@media (min-width: 768px) {

    #burger {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: static;
        width: auto;
        padding: 0;
        gap: 60px;
        border: none;
    }

    ul {
        flex-direction: row;
        align-items: center;
        gap: 25px;
        height: 90%;
    }

    #search {
        display: flex;

    }

    #imgLogo {
        display: flex;
        height: 50px;
        width: 50px;
    }
}

/* =====================   Desktop - min-width: 1024px     ==============================*/
@media (min-width: 1024px) {

    #loupe {
        height: 30px;
        width: 30px;
    }

    #rechercher {

        height: 30px;
        width: 200px;
    }

    #iconLogIn {
        height: 50px;
        width: 50px;
    }

    #imgLogo {

        height: 60px;
        width: 60px;
    }


    ul li a {
        font-size: 1rem;
    }
}