@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --bg: #333333;
    --bgNavFoot: #CACCE6;
}

h1,
h2 {

    font-family: "inter", sans-serif;
    margin: 0;
    color: #FFFFFF;
}

a,
p {
    font-family: "work-sans", sans-serif;
    margin: 0;
}


html,
body {
    padding: 0;
    margin: 0;
    background-color: var(--bg);
}


hr {
    margin: 0;
    height: 3px;
    width: 330px;
    background-color: #FE308D;
    border: none;
}

/****************   NEWS  *********************/
/* 
    
    .news {
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 50px 0;
        gap: 30px;
}


.dvNews {
    position: relative;
}


/*****************************   articles ****************************************/


#titreArt,
#titreNews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    gap: 20px;
    font-size: 2rem;
}

#listArt {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cardArt {
    /* perspective: 1000px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px;
}

.card {
    position: relative;
    height: 426px;
    width: 350px;
    background-color: #FFFFFF;
    border: 3px solid #C26E4F;
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
    cursor: pointer;
    border-radius: 15px;

}

.card-recto,
.card-verso {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    background-color: #FFFFFF;
    border: 3px solid #C26E4F;
    transform: translate(-3px, -3px);

}

.card-verso {
    transform: rotateY(180deg);
}

.card.flipped {
    transform: rotateY(180deg);
}


.card-recto h3 {
    padding: 10px;
    text-align: center;
}

.card-recto h3:hover {
    transform: scale(1.1);
    transition: 0.2s;
    text-shadow: 2px 2px 5px ;
}


.card-image {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 12px;
    border: 3px solid #C26E4F;
    transform: translate(-3px, -3px);
}


.readingTimeDIV {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 10px;
    padding: 10px 10px;
    border-radius: 15px 0 5px 0;
    border: 3px solid #C26E4F;
    color: #ffffff;
    transform: translate(-3px, -3px);
    background-color: rgba(0, 0, 0, 0.5);
}

.metaCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-style: italic;
}


.metaCard img {
    height: 40px;

}